# Data Science Tools and Ecosystem

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

<p>Objectives:</p>

- List popular languages for Data Science.
- List popular libraries for Data Science.
- List open source Data Science Tools.

<p>Some of the popular languages that Data Scientists use are:<p/>

1. Python
2. R
3. Java

<p>Some of the commonly used libraries used by Data Scientists include:</p>

1. Numpy
2. Pandas
3. Scipy

| Data Science Tools |
----------------------
| JupyterLab |
| Spyder |
| Visual Studio |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# his will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>
<p>Luis Fernando Martinez O.</p>